*{
  box-sizing: border-box;
}

body{
  background-color: #EDF4ED;
}

.board button {
  width: 80px;
  height: 80px;
  background-color: gray;
  border-radius: 50%;
  border: 5px solid black; /*this gets rid of bootstrap shadow */
  margin: 1px;
}

.jumbotron{
  background-color: #001242;
  margin-top: 30px;
}

.jumbotron p{
  font-size: 32px;
  color: white;
}
    
    /* small screens */
@media(max-width:650px){
  .board button{
    height: 45px;
    width: 45px;
    border: 2.5px solid black;
    margin: 0.8px;
  }

}
